{% extends 'base.html' %}

{% block title %}
    All Short URLs
{% endblock %}

{% block main %}

    <h1>Short URLs list</h1>
    {% for msg in get_flashed_message(request) %}
        <div class="alert alert-{{ msg.category }}">
            {{ msg.message }}
        </div>
    {% endfor %}

    {% if short_urls %}
        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">

                <thead>
                <tr>
                    <th scope="col">slug</th>
                    <th scope="col">Target url</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for url in short_urls %}
                    <tr>

                        <td>
                            <code> {{ url.slug }} </code>
                        </td>

                        <td>
                            <a
                                    href="{{ url.target_url }}"
                                    target="_blank"
                            >{{ url.target_url }}
                            </a>
                        </td>

                        <td>
                            {% if url.description %}
                                {{ url.description }}
                            {% else %}
                                <code>-</code>
                            {% endif %}
                        </td>

                        <td>
                            <div class="container btn-group btn-group-sm" role="group" aria-label="URL actions">
                                {% set slug=url.slug %}
                                {% include 'short_urls/components/edit.html' with context %}
                                {% include 'short_urls/components/delete.html' with context %}
                            </div>
                            {% set target_url=url.target_url %}
                            {% set modal_action=url_for('short-urls:delete', slug=slug) %}
                            {% include 'short_urls/components/delete-modal.html' with context %}
                        </td>


                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

        <div>
            <a
                    class="btn  btn-outline-primary"
                    href="{{ url_for('short-urls:create-view') }}"
            >Create new</a>
        </div>

    {% else %}
        <h2>No short URLs yet</h2>
        <h3>You can
            <a
                    href="{{ url_for('short-urls:create-view') }}"
            >create a one</a>
        </h3>
    {% endif %}


{% endblock %}
