name: Python checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint-job:
    runs-on: ubuntu-latest
    steps:
      - name: PlaceholderGH Actions step
        run: echo "Hello world"
