name: Python checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/**"
      - "url-shortener/**"

jobs:
  run-black:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'

      - name: Install Black
        run: |
          python -m pip install --upgrade pip
          pip install "black==25.1.0"

      - name: Black
        run: |
          black --check --diff ./
  list-dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code for UV
        uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'
      - name: Setup UV
        uses: astral-sh/setup-uv@v5
        with:
          pyproject-file: 'pyproject.toml'
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: list dependencies
        run: uv tree
